h1{
    color: #0000FF;
    padding-left: 30px;
}

h2,p{
    color:#FC2626;
}

.header *{
    border:solid;
}

.header{
    background-color: #7FFFD4;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 20px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}


